// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$primary: hsl(256, 60%, 59%);
$primary-invert: findColorInvert($primary);

$link: $primary;
$link-visited: hsl(256, 42%, 42%);
$link-hover-border: $primary;

$link-hover: $grey-lighter;
$link-focus: $grey;
$link-focus: $white-bis;
$link-active: $white-bis;
$link-active-border: $grey-light;

$scheme-main: $grey-darker;
$scheme-main-bis: $grey-dark;
$scheme-main-ter: $grey;

$scheme-invert: hsl(256, 60%, 59%);
$scheme-invert-bis: hsl(256, 42%, 42%);
$scheme-invert-ter: hsl(257, 34%, 38%);

$background: $grey-dark;

$border: $grey-dark;
$border-hover: $grey;

$border-light: $grey-darker;
$border-light-hover: $black-ter;

$text: $white-bis;
$text-light: $grey-light;
$text-strong: $white;



// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.tabs li.disabled a {
  cursor: not-allowed;
  color: rgba(74, 74, 74, 0.5);
  &:hover {
    color: rgba(74, 74, 74, 0.5);
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}

.modal-card-foot {
  justify-content: flex-end;
}
